VITE_API_URL=http://localhost:3000/api
# Temporal: usar usuario simulado mientras el backend no tenga GET /auth/me se utiliza el usuario: demo@condotrack.test contraseña: Demo1234
# true para utilizar datos Mock
#false para utilizar los datos desde backend
VITE_MOCK_AUTH=false
